# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# production
/not working
/archive
/controller/db.php
/controller/sessions.php
/controller/post.php
/controller/ca-bundle-main
/controller/twitteroauth-main
*no authentication.php
*.svg
*.htaccess
*.ffs_db
/index.html
/console_log.php
/assets
/model/Socialmedia.php
/controller/post.php
/sync.ffs_db